<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>testingLocalizationWithPlurals.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BC5FF71A1D21267D002E0E46</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BC5FF7331D21267D002E0E46</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BC5FF73E1D21267D002E0E46</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
